* {
  box-sizing: border-box;
}
html {
  background-color: #000000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #000000;
  margin: 0;
  height: 100%;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 16px;
}

#container {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 16px 0px 105px 10px;
}

#gameport {
  position: relative; /* Context for Quixe's absolute positionning */
  height: 100%;
}

.interpretercredit {
  bottom: 1em;
  left: 1em;
  font-size: 80%;
  position: fixed;
  color: #ffffdd;
}

/* Override Quixe styles */

.BufferWindow .Input,
.GridWindow,
.WindowFrame {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 16px;
  color: #ffffdd;
}

.GridWindow,
.WindowFrame {
  background-color: #000000;
  padding: 0;
}

.BufferWindow {
  text-align: justify;
}

.Style_input {
  color: inherit;
}
